.header {
    position: relative; 
    top: 0;          
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--background-color);
    z-index: 10;   
    display: flex;
    align-items: center;
    padding: 0 1rem;
}


.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: left 0.4s ease; 
    position: relative;
  
}


.title{
  left: 4rem;
  position: relative;
}


.header-filtro-hidden {
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.header-filtro-visible {
    transform: translateX(20rem);
    transition: transform 0.4s ease;
}
