/* Header principal */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: var(--background-linear-gradient);
  z-index: 1000;
}

/* Logo dentro do header */
.header-logo {
  height: 50px;
  object-fit: contain;
}

/* Container de links */
.header-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

