.filter-container {
    position: absolute;
    z-index: 1000;
    margin-top: 20px;
    border-radius: var(--border-radius);
    padding: 10px;
    background-color: var(--background-color);
    color: var(--color-light) !important;
}

.menu-visible{
    margin-left: 22rem;
   
}

.menu-hidden{
    margin-left: 2rem;
   
}
