
.menu {
    position: relative;   
    z-index: 20;          
    width: var(--menu-width);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.menu-logo {
    position: relative;  
    z-index: 30;          
    width: 80%;
    margin-top: -30px;
}


.menu-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.menu-title {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-light);
  margin-bottom: 8px;
}

.menu-option {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--menu-color);
  padding: 10px 14px;
  border: none;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease; 
  width: 100%;
  text-align: left;
}

.menu-option i {
  font-size: 16px;
  color: var(--menu-color);
}

.menu-option:hover{
  color: var(--color-light);
  transform: scale(1.1);
}

.menu-option:hover .menu-icon {
  color: var(--color-light);
  transform: scale(1.1);
}


.menu-option.active {
  background: var(--background-linear-gradient);
  border: 1px solid var(--primary-color);
  color: var(--color-light);
}

.menu-option.active i {
  color: var(--color-light);
}

