.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: var(--border-radius);
  width: 50%;
  height: 50%;
  overflow-y: auto;
  position: relative;
  color: var(--color-light);
}

.modal-close-button {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-light);
}

.modal-close-button:hover {
   transform: scale(1.05);
}

.modal-title {
  font-size: 30px;
  margin: 0px;
  text-align: center;
}
