.satellite-list-container {
  flex: 1;
  position: relative;
  min-height: 400px;
  width: 100%;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 15px;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.satellite-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  position: relative;
  margin-top: 30px;
  margin-left: 0 !important;
  width: 100%;
}

.satellite-list-container-visible {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
  margin-left: 300px;
}

.satellite-filter-list-container-visible {
  margin-top: 10px;
  overflow-y: auto;
  margin-left: 300px;
}

.satellite-filter-list-container-hidden {
  gap: 1rem;
  margin-top: 10px;
  overflow-y: auto;
  flex: 1;
}

.satellite-list-container-hidden {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 1rem;
  overflow-y: auto;
  flex: 1;
  position: relative;
  transition: width 0.3s ease;
  margin-left: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin-left: 15px;
}

.filtro-container,
.main-content > div:first-child {
  width: 250px;
}

.main-content > .satellite-list-container {
  flex: 1;
  transition: width 0.3s ease;
  overflow-y: auto;
}

