.satellite-list-container{
  width: 100%;
}

.satellite-list-container-visible {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1rem;
  margin-top: 30px; 
  overflow-y: auto;
  flex: 1; 
  position: relative; 
  transition: width 0.3s ease; 
  margin-left: 300px;
}


.satellite-filter-list-container-visible {
  margin-top: 50px;
  overflow-y: auto;
  margin-left: 300px;
}


.satellite-filter-list-container-hidden {
  gap: 1rem;
  margin-top: 50px; 
  overflow-y: auto;
  flex: 1; 
}


.satellite-list-container-hidden {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1rem;
  margin-top: 30px; 
  overflow-y: auto;
  flex: 1; 
  position: relative; 
  transition: width 0.3s ease; 
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden; 
  margin-left: 15px;
}

.filtro-container,
.main-content > div:first-child { 
  width: 250px; 
}

.main-content > .satellite-list-container {
  flex: 1; 
  transition: width 0.3s ease;
  overflow-y: auto;
}
