:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #0f99bf;
  --secondary-color: #0cd9a6;
  --button-color: #09485e;
  --border-tags: hsl(210 20% 95%);
  --background-color: hsl(215 28% 12%);
  --background-card-color:hsl(215 25% 16%);
  --menu-color: rgb(231 225 225);
  --font-family: Arial, Helvetica, sans-serif;
  --color-light: rgb(231 225 225);
  --color-dark: black;
  --background-linear-gradient: linear-gradient(to right, rgba(0, 0, 0, 1), #09485e);
  --border-radius: 10px;
  --menu-width: 220px;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}


::-webkit-scrollbar-track {
  background: #1e1e1e; 
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* remove scroll extra */
  font-family: var(--font-family);
}

/* layout principal (menu + mapa) */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

input {
  border-color: var(--primary-color);
  color: var(--color-light) !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  border: 1px solid transparent;
  border-radius: 9999px;
  /* padding: 8px 14px;

  font-size: 0.95rem; */
  font-size: 0.9rem;
  padding: 8px 16px;

  font-weight: 500;
  letter-spacing: 0.3px;

  cursor: pointer;
  user-select: none;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}


.tag-wtss {
  background-color: var(--background-color);
  border-color: var(--border-tags);
  color: #fff;
}

.tag-wtss:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}

.tag-success {
  background-color: var(--background-color);
  border-color: var(--border-tags);
  color: #fff;
}

.tag-success:hover {
  background-color: #22c55e;
  border-color: #22c55e;
  box-shadow: 0 4px 10px rgba(34, 197, 94, 0.3);
}

.tag-warning {
  background-color: var(--background-color);
  border-color: var(--border-tags);
  color: #fff;
}

.tag-warning:hover {
  background-color: #f59e0b;
  border-color: #f59e0b;
  box-shadow: 0 4px 10px rgba(245, 158, 11, 0.3);
}


.tag-danger {
  background-color: var(--background-color);
  border-color: var(--border-tags);
  color: #fff;
}

.tag-danger:hover {
  background-color: #ef4444;
  border-color: #ef4444;
  box-shadow: 0 4px 10px rgba(239, 68, 68, 0.3);
}

.tag-info {
  background-color: var(--background-color);
  border-color: var(--border-tags);
  color: #fff;
}

.tag-info:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgba(239, 68, 68, 0.3);
}

.tag-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  filter: grayscale(0.3);
}

.tag-success.active {
  background-color: #22c55e;
  border-color: #22c55e;
  box-shadow: 0 4px 10px rgba(34, 197, 94, 0.3);
}

.tag-warning.active {
  background-color: #f59e0b;
  border-color: #f59e0b;
  box-shadow: 0 4px 10px rgba(245, 158, 11, 0.3);
}

.tag-danger.active {
  background-color: #ef4444;
  border-color: #ef4444;
  box-shadow: 0 4px 10px rgba(239, 68, 68, 0.3);
}

.tag-info.active {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgba(239, 68, 68, 0.3);
}

.tag-wtss.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}

